git config --global user.name "mteverest182"
git config --global user.email "mteverest182@gmail.com"

https://ecommercelux.netlify.app/  || https://github.com/mteverest182-ui/ecommerce   /frontend-ecommerce

https://backendauth-500d.onrender.com/ || https://github.com/mteverest182-ui/BackendAuth  /backend-ecommerce

https://admin-dash-lovat-nine.vercel.app/ || https://github.com/mteverest182-ui/adminDash Admin Dashboard 